.cabecalho {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.corpoTexto {
    font-size: 21px;
}

.subText {
    font-size: 18px;
}

span {
    margin-left: 15px;
}

li {
    margin-top: 10px;
}

a {
    color: brown;
}

h3{
    align-items: center;
    justify-content: center;
    text-align: center;
}

br{
    margin-bottom: 16px;
    display: block;
    content: "";
}

a:hover{
    color: rgb(201, 120, 0);
}